::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: yellow;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(196, 196, 0, 0.993);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease;
}

.topbar-logo {
  position: fixed;
  top: -49px;
  left: 111px;
  height: 153px;
  width: auto;
  z-index: 100;
}

.topbar-default-style {
  opacity: 0;
}

.topbar-scroll-style {
  opacity: 1;
}

footer {
  background-color: #0e0e0e;
  color: #666666;
  padding: 0;
  margin: 0;
  text-align: left;
}

footer a {
  color: #666666;
  text-decoration: none;
}

footer a:hover {
  color: #c39c14;
  text-decoration: underline;
}

header img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.contact-info {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 0;
  font-size: 14px;
}

.contact-info a img {
  width: 64px;
  height: auto;
}